@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Montserrat:wght@700&family=Yantramanav:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #E7DFD4;
    font-family: 'Biryani', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #211f20;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #211f20;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    color: #211f20;
}

/* Navigation Bar */

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    letter-spacing: 1px;
    color: inherit;
}

nav a {
    text-decoration: none;
    color: inherit;
    position: relative;
    top: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

a:hover {
    border-bottom: solid 1.5px #6B6864;
    color: #6B6864
}

/* Landing site, Hero image */

#hero-image {
    height: auto;
    width: auto;
    margin-top: 30px;
    float: inline-start;
}

.line {
    border-bottom: solid 2px #211f20;
    clear: both;
}

#logo {
    width: auto;
    height: auto;
    margin: 10px 0 10px 10px;
    float: left;
}