@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Montserrat:wght@700&family=Yantramanav:wght@500&display=swap');

/* Credit: setting the margin, padding and border to 0 on all HTML elements was an idea I got from the "Love Running" project. I liked the idea of being in full control of setting these parameters myself! */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(../images/IMG_2727-min.PNG);
    font-family: 'Biryani', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #403f3d;
}

#header {
    border: 2px #665f55 solid;
    height: 100px;
}

.inner-box {
    background-color: #e1d4c9;
    margin: 25px 150px;
    border: 7px #b0907a solid;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #211f20;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    color: #211f20;
}

/* Navigation Bar */

#logo {
    height: 100px;
    display: flexbox;
    float: left;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    letter-spacing: 1px;
    color: inherit;
}

nav a {
    text-decoration: none;
    color: inherit;
    float: right;
    margin: 35px 20px 35px 0;
    
}

a:hover {
    border-bottom: solid 1.5px #b0907a;
    color: #b0907a
}

/* Landing page & hero image */

#hero-image {
    height: 1080px;
    transform: scaleX(-1);
    display: flex;
    float: left;
    margin: 15px;
}

#landing-section {
    clear: both;
    height: 1080px;
}

#landing-header {
    text-align: center;
    line-height: 4em;
}

#about-me {
    margin: 100px;
}

/* Services */

#services {
    clear: both;
}

#ladies-services {}

#color-services {}

#treatment-services {}

table em,
strong {
    font-size: 0.8em;
}