@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Montserrat:wght@700&family=Yantramanav:wght@500&display=swap');

body {
    background-color: #191617;
    font-family: 'Biryani', sans-serif;
    font-weight: 300;
    color: #927a5a;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #927a5a;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
    color: #927a5a;
}